.login-container {
  .login-card {
    max-width: 50%;
    margin-left: 50%;
    margin-top: 10%;
    transform: translateX(-50%);
    padding: 5%;
  }

  .example-form {
    width: 100%;
  }

  .example-full-width {
    width: 100%;
  }
}
