.signup-container {
  .login-card {
    max-width: 50%;
    margin-left: 50%;
    margin-top: 5%;
    transform: translateX(-50%);
    padding: 5%;
  }

  .example-form {
    width: 100%;
  }

  .example-full-width {
    width: 100%;
  }

  ::ng-deep .mat-form-field-prefix {
    margin-right: 3%;
  }
}
