<div>
  <mat-toolbar>
    <div class ="left nav-text">
      <span><a routerLink="/">Home</a></span>
    </div>
    <div class ="center">
      <mat-icon>dashboard</mat-icon>
      <span>EverCruiter</span>
    </div>
    <div class ="right nav-text">
      <mat-form-field floatLabel="never">
        <mat-select placeholder="Hello, Jordan">
          <mat-option>
            Dashboard
          </mat-option>
          <mat-option (click)="onLogout()">
            Logout
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-toolbar>
  <router-outlet></router-outlet>
</div>
