<div class = "splash-container">

  <div class = "header-container">
    <mat-card class = "text-center mat-elevation-z0">
      <h1>{{'Recruitment Process Made Easy' | titlecase }} </h1>
      <h3>Sign Up today, Are you a: </h3>
      <mat-card-content>
        <button mat-raised-button color="accent" routerLink="/signup">Candidate</button>
        <button mat-raised-button color="accent" routerLink="/signup/recruiter">Recruiter</button>
      </mat-card-content>
      <mat-card-subtitle>*For recruitment transparency </mat-card-subtitle>
    </mat-card>
  </div>

  <div class ="container">
    <div align="center" class = "what-is home-section">
      <h1> What is this? </h1>
      <p>
        We are here to relieve the mundane process where candidates and recruiters/hiring mangers ask eachother about when they are available and whether they still are interested in the position
        thus saving any potential hassle and waste of time.
      </p>
    </div>

    <div class = "who-for home-section">
      <h1 align="center"> Who is this for? </h1>
      <p>
        We are here to relieve the mundane process where candidates and recruiters/hiring mangers ask eachother about when they are available and whether they still are interested in the position
        thus saving any potential hassle and waste of time.
      </p>
    </div>
  </div>

</div>
