<div class = "splash-container">

  <div class = "header-container">
    <mat-card class = "text-center mat-elevation-z0">
      <h1>{{'Recruitment Process Made Easy' | titlecase }} </h1>
      <h3>Sign Up today, Are you a: </h3>
      <mat-card-content>
        <button mat-raised-button color="accent" routerLink="/signup">Candidate</button>
        <button mat-raised-button color="accent" routerLink="/signup/recruiter">Recruiter</button>
      </mat-card-content>
      <mat-card-subtitle>*For recruitment transparency </mat-card-subtitle>
    </mat-card>
  </div>

  <div class ="choice-container">
    <div class="left-choice">
    </div>
    <div class="right-choice">
      <div class ="item-container">
        <div class ="container">
          <div class = "row">
            <div class="col-md-12">
              <div align="center" class = "what-is home-section">
                <h1> What is this? </h1>
                <hr class ="horizontal-line"/>
                <p>
                  We are here to relieve the mundane process where candidates and
                  recruiters/hiring mangers ask eachother about when they are available and whether they still are interested in the position
                  thus saving any potential hassle and waste of time.
                  Bacon ipsum dolor amet tail ball tip pork chop, meatloaf pork belly kevin pork loin turkey porchetta bacon. Kielbasa ham hock ground round burgdoggen pork loin sirloin. Biltong kielbasa tail pig andouille buffalo ribeye pancetta short ribs salami. Spare ribs ground round pork loin pork belly ham hock swine pork, chicken corned beef shoulder beef ribs ball tip.

                  Beef ham hock salami kevin. Cow prosciutto picanha ham beef. Hamburger pancetta filet mignon spare ribs frankfurter sausage bresaola, fatback capicola tenderloin jowl biltong ground round. Frankfurter ground round strip steak pig.

                  Pork belly fatback drumstick frankfurter chicken shoulder, leberkas salami corned beef short ribs meatball pig brisket. Beef picanha meatloaf, shankle filet mignon pork beef ribs burgdoggen ham. Sirloin turkey pig burgdoggen buffalo brisket beef short ribs andouille sausage tongue. Ribeye flank spare ribs hamburger ball tip ham hock.
                </p>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class ="container">
    <div align="center" class = "what-is home-section">
      <h1> Mission </h1>
      <p>We strive to create a smooth and transparent interview process between recruiters and
        potential candidates using our easy to use platform
      </p>
      <hr class ="horizontal-line"/>
      <div class = "row">
        <div class = "col-md-4">
          <div>
            <mat-icon>
              calendar_today
            </mat-icon>
          </div>
          <div>
            <h3>Schedule</h3>
          </div>
          <div>
            Set your own schedule to show recruiters when you're available
          </div>
        </div>
        <div class = "col-md-4">
          <div>
            <mat-icon>
              access_time
            </mat-icon>
          </div>
          <div>
            <h3>Save Time</h3>
          </div>
          <div>
            No longer have to wait for replies for availability, let your recruiter know beforehand what you're up to
          </div>
        </div>
        <div class = "col-md-4">
          <div>
            <mat-icon>
              format_align_left
            </mat-icon>
          </div>
          <div>
            <h3>Inform</h3>
          </div>
          <div>
            Keep your recruiters updated on your interview status
          </div>
        </div>
      </div>
      <!--- end of row -->
      <img src="../../../../assets/images/home/dots-big-img.png"/>
    </div>

    <div class="sign-up-footer">
      <h1>Don't Wait Sign Up today!</h1>
      <div>
        <button mat-button color="accent">Sign Up</button>
      </div>
    </div>
  </div>

</div>
